.header {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  margin: auto;
}
.nav {
  margin: 20px;
  color: black;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: darkorange;
}

/* selected link */
a:active {
  color: darkorange;
}
