.front_background {
  width: 98%;
  height: 1043px;
  margin: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 50%;
}
.header {
  font-size: 60px;
  font-weight: bold;
  line-height: 1.6;
}
